@media(max-width:730px){

.wrapper{
    width: 600px;
}

.logo{
    display: none;
}

.skills-item i{
    font-size: 2rem;
}

.firebase{
    width: 25%;
}

form{
    width: 100%;
}

.submit{
    width: 25%;
}

}