@media (max-width:565px){
    .wrapper{
        width: 430px;
    }

    .about-section{
        max-height: 100vh;
    }

    .about-img img{
        border-radius: 14%;
    }

    .about-img{
        // width: 55%;
        // padding: 5px;
        // border: none;
        display: none;

    }

    .about_p{
        font-size: .9rem;
        padding: 0 27px;
        text-align: center;
        line-height: 1.6;
    }



    .work-text ul{
        display: none;
    }
    .app-descr{
        margin: 25px 0px; 
    }
    
    .contact-h2{
        margin: 20px;
    }

    .contact-p{
        margin: 20px auto;
    }

    .skills-ul{
        width: 74%;
    }

    form{
        flex-direction: column;
    
    }

    .form-container{
       flex-direction: column;
        margin: 0px;
        width: 100%;
    }

    .text{
        width: 100%;
     
    }
    .text-field{
        margin: 3px;
        width: auto;
    }

    .submit{
        width: 30%;
        margin: 18px auto;
    }
}

@media(max-width:414px){
    .wrapper{
        width: 307px;
    }

    .head-nav li a{
        display: block;
    }
    
    h2{
        font-size: 2rem;
    }

    .about_p{
        padding: 0;
    }

    .work-container_one, .work-container_two, .work-container_three, .work-container_four{
        border: none;
        margin: 0;
        padding: 0;
    }

    .form-container{
        width: 100%;
        flex-direction: column;
    }

    .text{
        margin: 10px auto;
        width: 100%;
    }

    .text-field{
        width: 100%;
    }
}