@media(max-width:375px){
    .wrapper{
        width: 265px;
    }
    .head-nav li{
        display: block;
    }

    h2,
    .header-container_two .header-h1{
        font-size: 2rem;
    }

    .about_p{
        padding: 0;
        font-size: 1rem;
        line-height: 1.7;
    }

    .hide{
        display: none;
    }

    .portfolio{
        margin: 0;
        padding: 0;
    }

    .work-container_one, .work-container_two, .work-container_three, .work-container_four{
        border: none;
        margin: 0;
        padding: 0;
    }

    .work-text{
        margin: 0;
    }

    .skills{
        display: none;
    }

    .contact-p{
        width: auto;
    }

    .form-container{
        flex-direction: column;
        width: 100%;
    }

    .text{
        width: 100%;
    }

    .text-field{
        width:100%;
    }

    .submit{
        width: 100%;
    }
}


@media (max-width:320px){
    .wrapper{
        width: 300px;
    }

    header{
        margin: 0;
        padding: 0;
    }

    .about-section{
        margin: 8px;
        height: auto;
    }

    .about_p{
        font-size: .8rem;
    }

    .about-img{
        display: none;
    }


    .work-text{
        width: 95%;
    }


    .contact{
        margin: 0;
    }

    .contact-container{
        width: 95%;
        margin: 0 auto;
    }

    footer{
        margin: 8px;
    }
}