@media (max-width:1050px){

.wrapper{
    width: 880px;
}

.about-h2{
    margin: 10px 0;
}

.about-text{
    width: 60%;
}

.about-img{
    width: 40%;
}

.work-container_one, .work-container_two, .work-container_three, .work-container_four{
    padding: 25px 10px;
}

.work-two-img,
.work-four-img,
.work-one-img, 
.work-three-img{
    margin-top: 60px;
}

.skills-ul{
    width: 70%;
}

form{
    width: 80%;
}

}