@media (max-width:565px){
    .wrapper{
        width: 430px;
    }

    .about-section{
        max-height: 100vh;
    }

    .about-img img{
        border-radius: 14%;
    }

    .about-img{
        // width: 55%;
        // padding: 5px;
        // border: none;
        display: none;

    }

    .about_p{
        font-size: .9rem;
        padding: 0 27px;
        text-align: center;
        line-height: 1.6;
    }



    .work-text ul{
        display: none;
    }
    .app-descr{
        margin: 25px 0px; 
    }
    
    .contact-h2{
        margin: 20px;
    }

    .contact-p{
        margin: 20px auto;
    }

    .skills-ul{
        width: 74%;
    }

    form{
        flex-direction: column;
    
    }

    .form-container{
        flex-direction: row;
        margin: 0px;
    }

    .text{
     margin: 15px 5px;
     width: calc(84% - 10px);
     
    }
    .text-field{
        margin: 3px;
        width: auto;
    }

    .submit{
        width: 30%;
        margin: 18px auto;
    }
}