@media(max-width:685px){
    .wrapper{
        width:500px;
    }

    .about-img{
        display: none;
    }

    .work-text{
        text-align: center;
    }

    .work-text ul li{
        font-size: .8rem;
        width: calc(30% - 10px);
    }

    .reverse-ul{
        flex-direction: row;
    }

    .firebase{
        width: 20%;
    }

}