body {
    background:white;
}

$pink: #f2d2d8;

$font1: 'Raleway', sans-serif;
$font2: 'Noto Serif KR', sans-serif;


@import 'partials/setup';
@import 'partials/layout';
@import 'partials/header';
@import 'partials/about';
@import 'partials/portfolio';
@import 'partials/skills';
@import 'partials/contact';
@import 'partials/footer';
@import 'partials/media1050';
@import 'partials/media950';
@import 'partials/media850px';
@import 'partials/media730';
@import 'partials/media685';
@import 'partials/media565';